<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Fotó</th>
    <th scope="col">Név</th>
    <th scope="col">Bemutatás</th>
    <th scope="col">Ár</th>
    <th scope="col">-</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let kitten of kittens">
    <th scope="row">{{ kitten.id }}</th>
    <td><img src="{{ kitten.image }}" width="450" alt="{{ kitten.image }}" /></td>
    <td>{{ kitten.name }}</td>
    <td>{{ kitten.desc }}</td>
    <td>{{ kitten.price }}</td>
    <td><button class="btn btn-outline-danger" (click)="addToCart(kitten)">Elviszem!</button></td>
  </tr>
  </tbody>
</table>
